<div class="container">
  <div class="d-flex justify-content-between mt-3">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#blogPost">New</button>
    <div class="d-flex gap-2">
      <input type="text" class="form-control form-control-sm" placeholder="Search" [formControl]="searchControl">
      <select class="form-select form-select-sm" [formControl]="sortingControl">
        @for (option of sortingOptions; track option.value) {
          <option [value]="option.value">{{ option.label }}</option>
        }
      </select>
    </div>
  </div>
  <div class="post-list">
    @for (post of (posts$ | async) ?? [] | filter: searchValue; track post.id) {
      <post-card [post]="post" (editEmitter)="editPost(post)" (deleteEmitter)="deletePost(post)"></post-card>
    }
    @empty {
      <div class="alert alert-warning mt-3">No posts found</div>
    }
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="blogPost" tabindex="-1" aria-labelledby="blogPostLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blogPostLabel">Add New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="content">Blog Text</label>
          <textarea [formControl]="textControl" autofocus id="content" type="text" class="form-control" placeholder="Enter Post Content"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"  (click)="onClose()">Close</button>
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" [disabled]="textControl.invalid" (click)="save()">Save changes</button>
      </div>
    </div>
  </div>
</div>