<div class="container">
  <div class="d-flex justify-content-between mt-3">
    <h3>Posts</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">New</button>
  </div>
  <div class="post-list">
    @for (post of posts$ | async; track post.id) {
      <div class="card mt-3">
        <div class="card-body">
          <p class="card-title h4 mb-2"> {{ post.text }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text"><span class="font-bold">Created:</span> {{ post.username }}</p>
            <p class="card-text"><span class="font-bold">Creation Date:</span> {{ post.createdAt | date }}</p>
            <div class="d-flex justify-content-end">
              <button  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning mx-2" (click)="editPost(post)">Edit</button>
              <button class="btn btn-danger" (click)="deletePost(post)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    }
    @empty {
      <div class="alert alert-warning mt-3">No posts found</div>
    }
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="content">Blog Text</label>
          <input [formControl]="textControl" autofocus id="content" type="text" class="form-control" placeholder="Post text">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="textControl.invalid" (click)="save()">Save changes</button>
      </div>
    </div>
  </div>
</div>